/*
 * Style tweaks
 * --------------------------------------------------
 */

body {
  padding-top: 0px;
}

.row.start {
  margin-left: -10px;
  margin-right: -10px;
}

.row.start div {
  padding-left: 10px;
  padding-right: 10px;
}

.row.start img {
  width: 100%;
}

h3.even {
  margin-top: 17px;
}

p.even {
  min-height: 80px;
}

footer {
  padding-top: 30px;
}

footer p, footer a {
  color: #666;
  font-family: 'AVMMetaOT', Helvetica, Arial, sans-serif;
  color: #676767;
}
footer p {
  line-height:28px;
  font-size: 12px;
}
#footer-nav a {
  margin:0 1.7% 0 0;
  display:inline-block;
}
#footer-nav a span{
  width:auto;
  padding-left:10px;
}
#footer-nav  {
  padding-right:0;
  margin-left:15px;
}

footer .socials {
  float: right;
}

footer .row {
  margin-right:0;
}

.flag {
   width:15px;
   height:10px;
   display:inline-block;
   margin-right:8px;
}

 .loc .open .dropdown-menu {
   top:auto;
   bottom:0;
   z-index:2;
   padding-bottom:45px;
 }
 .loc .open .dropdown-toggle {
   z-index:3;
 }
 .loc .caret {
   width:8px;
   height:10px;
   display:inline-block;
   background: url('../../assets/img/icons/lang-arrow.png') no-repeat center center;
   margin-left:0 !important;
 }
 .nav.loc {
   margin-left:-20px;
   margin-top:0;
 }
 .nav.loc .open a {
   background-color:transparent;
 }
 .nav.loc a:hover{
   background:transparent;
 }
 .nav.loc a:hover .caret{
  border: none;
  height:10px;
  padding:0 !important;
 }
 .loc .dropdown-toggle {
   margin-top:-5px;
 }
.img-container {
  min-height: 155px;
  position: relative;
}

.img-container img {
  position: absolute;
  bottom: 0;
}

.teaser {
  border-bottom: 10px solid #f8f8f8;
  margin-bottom: 50px;
}

.more {
  display: block;
  margin: 13px 0 30px 0;
}

.more h3 {
  display: inline;
  float:left;
  margin:0 30px 30px 0;
  padding-top:8px;

}

.more a {
  padding: 0 30px 0 0;
}

.left {
  float:left !important;
}

.right {
  float:right !important;
}

.services h2 {
  margin-top: 50px;
}

.services ul, .additional-links ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  min-height: 120px;
}

.services .img-responsive {
  margin-top: 20px;
}

.sections .col-lg-3 {
  background: #f8f8f8;
  margin-top: 20px;
  padding: 30px 0 20px;
  text-align: center;
  border-right: 20px solid #FFFFFF;
}

.sections .col-lg-3.last {
  border-right: none;
}

.sections img {
  max-height: 43px;
}

.moreLinks p a {
  display:block;
}

.searchbar h4, .filterbar h4 {
  float: left;
  margin: 4px 15px 0 0;
}

.searchbar .input-group-btn {
  border-left: 20px solid #f8f8f8;
}

.searchbar .form-control {
  -webkit-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.15);
          box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.15);
}

.searchbar .input-group-btn .btn-search, .install-button, .blue-btn {

  background: #0070bc; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #0070bc 33%, #0089c8 50%, #0087c6 65%, #207cca 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(33%,#0070bc), color-stop(50%,#0089c8), color-stop(65%,#0087c6), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #0070bc 33%,#0089c8 50%,#0087c6 65%,#207cca 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #0070bc 33%,#0089c8 50%,#0087c6 65%,#207cca 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #0070bc 33%,#0089c8 50%,#0087c6 65%,#207cca 100%); /* IE10+ */
  background: linear-gradient(135deg,  #0070bc 33%,#0089c8 50%,#0087c6 65%,#207cca 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070bc', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  padding: 4px 20px;
}
.searchbar .input-group-btn .btn-search:hover, .install-button:hover, .navbar-toggle:hover, .blue-btn:hover {
background: #0099e0; /* Old browsers */
color: #fff;
background: -moz-linear-gradient(-45deg,  #0099e0 0%, #0081d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0099e0), color-stop(100%,#0081d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #0099e0 0%,#0081d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #0099e0 0%,#0081d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #0099e0 0%,#0081d6 100%); /* IE10+ */
background: linear-gradient(135deg,  #0099e0 0%,#0081d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099e0', endColorstr='#0081d6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.install-button {
  padding:10px 20px;
  border-radius:3px;
  display:inline-block;
}
 a:hover.install-button {
  color:#fff;
}

.searchbar .input-group .form-control:last-child, 
.searchbar .input-group-btn:last-child > .btn, 
.searchbar .input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.navbar-right .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.grey {
  background: #ebebeb url("../../assets/img/detail/dropshadow-bg.jpg") 0 0 repeat-x; 
  margin-top: 40px;
}

.whiteBox {
  background: #fff;
  padding: 10px 20px 10px;
  margin-top:20px;
  margin-bottom: 40px;

}
#additional-info {
  overflow:hidden;
}
#additional-info.grey {
  padding: 0 40px;
}

#additional-info.grey .whiteBox {
  margin-top: 55px;
  min-height: 260px;
}

#additional-info.grey .whiteBox ul  {
  margin-top: 10px;
}

#additional-info.grey .whiteBox ul li {
  line-height: 17px;
}

#additional-info.grey .whiteBox ul li a {
font-family: "AVMMetaOT-BookBold","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.grey .further ul { float: left; }

li.searchbar {
  display: none;
}

.navbar-collapse.in li.searchbar {
  display: block;
}

.navbar-collapse.in .input-group.search {
  margin: 2px 15px 10px 12px;
  float: none;
  position: static;
  width: auto;
}

.navbar-collapse.in  .input-group.search .form-control {
  box-shadow: none;
  border-radius: 4px 0 0 4px;

}

.navbar-collapse.in  .input-group.search .input-group-btn {
  border-left: none;
}

.navbar-collapse.in  .input-group.search .input-group-btn .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.navbar-collapse.collapse .navbar-nav {
  padding-top: 8px;
}

.prodInfo h4 {
  margin-top: 0;
}

.prodInfo p {
  margin-bottom: 30px;
}

.gradient {
  background: url("../../assets/img/detail/gradient-bg.jpg") 0 0 repeat-x; 
  margin-top: 57px;
}

.edge {
  background: url("../../assets/img/detail/edge-bg.jpg") 50% 0 no-repeat; 
  padding-top: 50px;
  margin-top: 0; 
}

.flyout.dropdown.open {
  /*margin-right: 0;*/
}

.flyout.dropdown a:hover { border-radius: 0; } 

.flyout .dropdown-menu {
  left: -110px;
  width: 940px;
  background: #fff;
} 

.flyout.open .dropdown-menu {
  background: #f8f8f8;
  border-radius: 0;
}

.flyout .dropdown-menu li ul {
  margin: 0;
  list-style-type: none;
  padding: 0 0 0 20px;
}

.flyout .dropdown-header, .flyout.open .dropdown-header  {
  padding-left: 0 !important;
}

.flyout .dropdown-menu li ul h3 a {
  color: #006AB2;
}

.flyout .dropdown-menu li ul a {
  color: #404040;
}

.flyout .dropdown-menu li ul a:hover {
  color: #006AB2;
}

.flyout.open .dropdown-menu li ul h3 a { color: #006AB2; }

.panel-heading .btn-small {
  width:17px;
  height:17px;
  margin-right:0;
}
.panel-heading-small {
  width:208px !important;
  height:30px;
  line-height:30px !important; 
  padding:0 7px 10px;
}
.panel-heading-small .btn-small {
  position:relative;
}
.panel-heading-small .btn-small .glyphicon{
  position:absolute;
  left:2px;
  top:-3px;
}
.item-image {
  padding-left:0;
  padding-right:5px;
}

/*
 * Icons + Buttons
 */


 a[class^="icon"] {
     width:26px;
     height:26px;
     display: inline-block;
   }

 .icon-buy {
   width:115px !important;
   height:23px !important;
   display:block;
   float:right;
   background: transparent url('../../assets/img/icons/jetztkaufen.png') no-repeat;
 }

 a:hover.icon-buy {
   background-image: transparent url('../../assets/img/icons/jetztkaufen.png');
   background-position:  0 -23px;
 }


 .icon-twitter {
     background: transparent url('../../assets/img/icons/icon-twitter.png') center center no-repeat;
 }
 .icon-googleplus{
     background: transparent url('../../assets/img/icons/icon-googleplus.png') center center no-repeat;
 }
 .icon-facebook{
     background: transparent url('../../assets/img/icons/icon-facebook.png') center center   no-repeat;
 }
 .icon-mail{
     background: transparent url('../../assets/img/icons/icon-mail.png') center center  no-repeat;
 }
 .icon-print{
     background: transparent url('../../assets/img/icons/icon-print.png') center center   no-repeat;
     margin-left:10px;
 }
 .icon-youtube{
     background: transparent url('../../assets/img/icons/icon-youtube.png') center center   no-repeat;
 }
 a:hover.icon-twitter {
     background-image: url('../../assets/img/icons/icon-rollover_twitter.png');
 }
 a:hover.icon-googleplus{
     background-image: url('../../assets/img/icons/icon-rollover_googleplus.png');
 }
 a:hover.icon-facebook{
     background-image: url('../../assets/img/icons/icon-rollover_facebook.png');
 }
 a:hover.icon-mail{
     background-image: url('../../assets/img/icons/icon-rollover_mail.png');
 }
 a:hover.icon-print{
    background-image: url('../../assets/img/icons/icon-rollover_print.png');
 }
 a:hover.icon-youtube{
    background-image: url('../../assets/img/icons/icon-rollover_youtube.png');
 }



 .icon-clips {
  background: transparent url('../../assets/img/service/service-section3.png') top center no-repeat;
 
 }

 .icon-handbuch {
   background: transparent url('../../assets/img/service/service-section2.png') top center no-repeat;
 }
 .icon-downloads {
   background: transparent url('../../assets/img/service/service-section1.png') top center no-repeat;
 }
 .icon-support {
   background: transparent url('../../assets/img/service/service-section4.png') top center no-repeat;
 }
 a:hover.icon-clips {
   background-position: center -184px !important;
 }

 a:hover.icon-handbuch {
   background-position: center -184px !important;
 }
 a:hover.icon-downloads {
   background-position: center -184px !important;
 }
 a:hover.icon-support {  
    background-position: center -184px !important;
 }

 .icon-clips-simple {
   background: transparent url('../../assets/img/service/service-clips.png') top center no-repeat;
 }

 .icon-handbuch-simple{
   background: transparent url('../../assets/img/service/service-books.png') top center no-repeat;
 }
 .icon-downloads-simple {
   background: transparent url('../../assets/img/service/service-downloads.png') top center no-repeat;
 }

 .icon-germany {
   background: url('../../assets/img/icons/icon-germany.png');
 }
 .icon-austria{
   background: url('../../assets/img/icons/icon-austria.png');
 }
 .icon-switzerland{
   background: url('../../assets/img/icons/icon-switzerland.png');
 }
 .icon-belgium{
   background: url('../../assets/img/icons/icon-belgium.png');
 }
 .icon-netherlands{
   background: url('../../assets/img/icons/icon-netherlands.png');
 }
 .icon-luxemburg{
   background: url('../../assets/img/icons/icon-luxemburg.png');
 }
 .icon-belgium{
   background: url('../../assets/img/icons/icon-belgium.png');
 }
 .icon-poland{
   background: url('../../assets/img/icons/icon-poland.png');
 }
 .icon-italy{
   background: url('../../assets/img/icons/icon-italy.png');
 }
 .icon-spain{
   background: url('../../assets/img/icons/icon-spain.png');
 }
 .icon-international{
   background: url('../../assets/img/icons/icon-international.png');
 }
 .glyphicon-small {
   font-family: Helvetica;
   top: -4px;
   left: -3px;
   font-size: 18px;
 }


 /*
  * ELEMENTS SPECIFIC TO PAGES
  */
/* Home Page */
  .more {
    margin-top:5px;
  }
  .news a {
    display:block;
  }

  #home .sidebar-nav h4 {
    margin-top: 15px;
  }
  #home .sidebar-nav ul.nav {
    padding-bottom: 0;
  }
  #home .sidebar-nav .nav.socials {
    padding-right:40px;
  }
  #home .sidebar-nav .nav.news span {
    font-family: 'AVMMetaOT-BookBold';
  }
  #home h3 a {
    font-family: 'AVMMetaOT-CondMedium';
    font-weight:normal;
    font-size:23px;
  }
  #home h1 {
    font-family: 'AVMMetaOT-CondBlack';
    font-weight:normal;
    font-size:44px;
    color:#4d4d4d;

  }
  #home .carousel-caption h1 {
    color:white !important;
    font-size:42px !important;
  }


/* Service Page */

  #teaser-nav a {
    display:inline-block;
    padding:130px 0 50px;
    width:100%;
    cursor:pointer;
    background-color: #f5f5f5;
    max-height:184px;
    overflow:hidden;
    text-align:center;
  }
  .search-header , .filter-header {
    padding:12px 20px;
  }
  .search-header , .filter-header, .grey-panel{
    background-color: #f5f5f5;
    margin-top:0;
  }
  .grey-panel {
    padding:10px 20px;
  }
  .searchbar.small {
    margin-bottom:10px;
  }
  .searchbar.small .input-group-btn {
    border-left: 15px solid #f8f8f8;
  }

  #service h1 {
    line-height:1;
    color:#4d4d4d;
    font-weight:normal;
    margin-bottom:10px !important;
    font-size:44px;
  } 

  #service .collapseDiv a {
     font-size: 13px;
  }
  #service .collapseDiv {
    padding-left:25px;
    padding-right:25px;
  }

  #teaser-nav a  span {
    max-width:80%;
  }

  #teaser-nav a:hover {
    background-color: #fafafa;
  }

  #service h3 {
    font-size: 24px;
  }

  #service li, .additional-links li{
    list-style-type:none;
  }

  #service .grey {
    padding-bottom:50px;
  }
  #service .whiteBox {
    margin-top:0;
  }

  #service .whiteBox {
    margin-bottom:0;
  }

  .item-description {
      display:inline-block;

    }
  .item-image {
      display:inline-block;
  }
  .item-image img {
    float:right;
  }
  #service li, .additional-links li {
    background: url("../../assets/img/detail/list-arrow.jpg") no-repeat left 5px;
  }
  #service .nav li {
    background-image:none;
  }

  #service .item-image {
    min-height:116px;
  }


  #service li a, .additional-links li a {
    padding-left:10px;
    display:inline-block;
  }

  #service .services ul {
    min-height:0;
  }

  #service #teaser-nav div {
   padding-top:0;
   padding-bottom:0;
  }

   #service .panel-heading {
    margin-top: 20px;
   }


    #service .collapseDiv {
     height: auto;
     position: relative !important;
     z-index: 999;
     width: 100%;


     box-sizing:border-box;
     -mox-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     -ms-box-sizing:border-box;


    }
     #service .collapseDiv.in {
       height:auto;
       overflow:hidden;
     }
    #service .collapseDiv {
      background: #f5f5f5 !important;
     box-shadow:1px 2px 2px rgba(0, 0,0, 0.15);
    }
    #service .collapseDiv.in  > div {
     display:table-cell;
     height:100%;
     background: #f5f5f5;
     float:left;
    }
    #service .collapseDiv  > div {
     background: #f5f5f5;
    }
    #service .collapseDiv ul.last {
     padding-bottom:30px;
    }


    #service .collapseDiv ul.first {

    }
    #service .collapseDiv ul {
     margin:0;
     padding-top:20px;
    }
    #service .collapseDiv li {
     background:none;
    }
     #service .collapseDiv li a {
       color: #404040;
   }

   #service .dropdown-flayout-wrapper {

     background: #f5f5f5 !important;
       margin-top: 30px;
       position:relative !important;
       float:left;
       width:100%;
   }
   #service .dropdown-flayout-wrapper-small {
     margin-top:0;
   }


   #service .panel-heading{
     margin-top: 0;
      box-shadow:1px 1px 2px rgba(0, 0,0, 0.15);
      background: #f5f5f5;
   }


   #service .dropdown-flayout-wrapper-small {
     background-color:white !important;
     margin-top:-10px;
   }

   #service #service-list {
     padding-left:0;
   }
   #service  h3 {
     font-weight:500;
   }
   #service #service-list h3 {
     margin-top:10px;
     font-weight:500;
   }
   #service .product-item.first {
     clear:left;
   }
   #service #service-teaser {
     padding-right:0;
   }

   #service .dropdown-flayout-wrapper-small {
     width:940px;
     margin-bottom:20px;
     margin-top:-10px;
   }
   #service .whiteBox {
     padding:30px 50px;
     min-height:208px;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
   }
   #service .whiteBox h3 {
     margin:0 !important;
     padding:0 !important;
   }
   #service .whiteBox ul {
     margin-bottom: 0;
   }
   #service .popup-toggle {
     padding-left:5px;
     padding-top:2px;
   }
   #service .additional-links li.panel-toggle {
     background-image:none;
     margin-top:2px;
   }
   #service .panel-heading-small {
     padding-left:0;
     background:white;
     box-shadow:none;
     margin-left:-5px;
   }

   #service .item-description h3{
     line-height:1 !important;
     padding-top:0;
     top:0;
   }

   #service .panel-toggle{
     margin-top:10px;
   }
   #service .dropdown-flayout-wrapper-small .collapseDiv li a{
     padding-left:15px;
   }
   #service .btn-xs.btn-small {
     margin-left:5px;
   }

  /* Products Page */

  .navbar-nav > li.mobile-nav {
    display:none;
  }

  #products .more a {
      padding: 0 30px 0 0;
      float:left;
      position:relative;
      overflow:hidden;
      min-height:50px;
      display:inline-block;
  }
  #products h1 {
    margin-bottom:0;
    color:#4d4d4d;
    font-size:44px;
  }
  #products .teaser {
    margin-bottom:70px;
  }
  #products .subtitle {
    font-size:16px;
    font-family:'AVMMetaOT-BookBold' !important;
    font-weight:bold;
    margin-top:0;
    margin-bottom:50px;
  }
  #products .more {
    margin-top: 0;
    margin-bottom:50px;
  }

  #products .more img{
      position:absolute;
      display:inline-block;
      top:0;
  }

  #products .more a span {
    margin-top: 10px;
  }

  #products .more span{
     text-indent:50px;
     display:inline-block;
  }
  #products #more-products h3 {
    font-size:24px;
    font-family: 'AVMMetaOT-CondBook';
    font-weight:500;
    margin-right:20px;
  }

  .img-container img {
     max-width:100%;
  }

  #products .product-box p {
    margin-bottom:15px;
  }


  #more-products {
    padding: 45px 25px 30px;
    background:#f8f8f8;
    overflow:hidden;
  }

  /* Product Overview Page */
  #product-overview h1{
    margin-bottom: 0;
    font-size: 44px !important;
    color:#4d4d4d;
  }
  #product-overview .lead {
    font-size: 14px;
    margin-bottom: 5px;
  }
  #product-overview #sub-nav a {
    padding-left:10px;
    padding-right:10px;
    display:inline-block;
  }
  #product-overview .top-nav #buy-button {
    padding-top:23px;
  }
      #product-overview #sub-nav p {
    float:right;
    overflow:hidden;
    padding-right:20px;
  }
  #product-overview #sub-nav a.active {
    color:#404040;
  }
  #product-overview .image-showcase {
    position:relative;
  }
  #product-overview .image-showcase  img {
    margin-top:40px !important;
    margin-bottom:25px !important;
  }
  #product-overview .icon-360 {
    display:block;
    background: transparent url("../../assets/img/icons/icon-360.png") no-repeat;
    width:40px;
    height:38px;
    position:absolute;
    top:11px;
    right:20.7486%;
    z-index:3;
  }
   #product-overview #featured-description h4 {
    font-size:24px;
  }
  #product-overview #additional-info #buy-button {
    text-align:center;
  }

  #product-overview  #features-list img {
   margin-top: 30px;
 }
 #product-overview .gradient {
  margin-top:40px;
 }
 #product-overview .edge {
  padding-top:40px;
 }
 #product-overview #prodInfo h4 {
  font-size:24px !important;
  margin-top:0;
 }
 #product-overview #main-content {
  max-width:100% !important;
  overflow:hidden;
 }
 #product-overview .paragraph-section {
  margin-bottom:50px;
 }

 #product-overview .whiteBox h3 {
  color:#006ab2 !important;
  font-size: 24px;
 }
 #product-overview #additional-info .whiteBox {
  padding-top:15px;
  padding-left:40px;
  padding-right:40px;
  margin:0;
  text-align:left;
 }
 #product-overview .grey {
  overflow:hidden;
  max-width:100% !important;
 }



  #product-overview #sub-nav a.first {
    padding-left:0 !important;
  }
  #product-overview #header .social-buttons a {
    margin-right:5px;
    display:block;
    float:left;
  }



  .grey .services {
     padding-top:55px;
   }

   #product-overview .whiteBox h3 {
    font-size:24px;
    color:#323232;
    font-weight:500;
   }
   #product-overview .whiteBox {
    min-height:243px;
    height:auto;
    position:relative;
   }
  
   #product-overview .whiteBox a {
  
    display:block !important;
    position:relative;
    max-width:100%;
   }
   #product-overview .whiteBox p {
    height:auto;
    height:110px;
   }
   #product-overview #additional-info .whiteBox a.icon-buy {
    margin-top:0;
    text-align:center;
    display:inline-block !important;
    float:none;
   }
   #product-overview .whiteBox img {
    margin-top:-5px !important; 
   }
   #product-overview #header {
    overflow:hidden;
   }
   #product-overview .press .carousel-inner {
    padding:0;
    width:79.7872%;
    margin:0 auto;
   }
   #product-overview .press .carousel-control {
    padding:0;
    font-size:50px;
   }
   #product-overview .press .caption h5 {
    font-size: 12px;
   }
   #product-overview .carousel {
    margin-bottom: 0;
   }
   #product-overview .grey .container {
    padding:0;
   }
   #product-overview #prodInfo .grey {
    padding-bottom: 35px;
   }



   .article-section {
     margin-bottom: 5px;
     overflow:hidden;
   }

   .col-xs-12.article-section {
     float:left !important;
   }

   #features-list {
     text-align:right;
   }

   #sub-nav {
    padding-top:25px;
   }

  #sub-nav p {
   text-align:right;
  }

 

  .press.carousel .thumbnails li {
   float:left;
  }

  #additional-info #buy-button {
   padding-top:5px;

  }

   #additional-info #buy-button p {
   text-align:right;
  }


/* Service Overview Page */



#support {
  background:  #f8f8f8;
  width:100%;
  overflow:hidden;
  height:100px;
  margin-top:70px;
}
.image-block{
      background:  #f8f8f8;
      width:31.4285%; /* 220px*/
      float:left;

}
.content-centered {
  width:65.7142%; /*460px;*/
  float:right;
  text-align:center;
  min-height:100%;
    position:relative;
}
.content-centered a {
  width:100%;
  font-size: 24px;
  line-height:24px;
  height:24px;
  top:50%;
  margin:0 auto;
  margin-top:-12px;

  display:block;
  position:absolute;
}

.nav.side li, .nav.mobile li{
  width:220px;
  max-width:100%;
  height:30px;
  background: transparent url('../../assets/img/service/menu-bg.png') top left no-repeat;
  margin-bottom:1px;
  line-height:30px;
  display:block;
  float:left;
}

.mobile .nav.mobile li {
  line-height:36px;
  height:36px;
}

#collapseNav {
  padding:0;
}
#mobile-side-nav {
  display:none;
}
.nav.mobile {
  width:100%;
  padding:0;
  margin:0;
}
.nav.mobile li, .nav.mobile li a:hover, .nav.mobile li a:focus {
  width:100%;
  background: #0070bc;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjMDA3MGJjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODljOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #0070bc 2%, #0089c8 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,#0070bc), color-stop(100%,#0089c8));
  background: -webkit-linear-gradient(-45deg,  #0070bc 2%,#0089c8 100%);
  background: -o-linear-gradient(-45deg,  #0070bc 2%,#0089c8 100%);
  background: -ms-linear-gradient(-45deg,  #0070bc 2%,#0089c8 100%);
  background: linear-gradient(135deg,  #0070bc 2%,#0089c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070bc', endColorstr='#0089c8',GradientType=1 );
}
.nav.mobile.trigger a {
  position:relative;
  color:#fff;

}

.nav.mobile.trigger a span{
    position:absolute;
    right:20px;
    width:9px;
    height:4px;
    top:50%;
    margin-top:-2px;
   background: transparent url("../../assets/img/icons/collapsed.png") no-repeat;
}
.nav.mobile.trigger a.collapsed span{

  background: transparent url("../../assets/img/icons/open.png") no-repeat;
}
#mobile-side-nav .collapse {
  padding:0;
}
.nav.side li a , .nav.mobile li a{
  color:#9cbbdd;
  font-size: 14px;
  line-height:30px;
  padding:0;
  text-indent:20px;
}
.nav.side li a:hover , .nav.mobile li a:hover{
  background-color:transparent;
  color:#fff;
}
.nav.side li.active{
  background: transparent url('../../assets/img/service/menu-bg-active.png') top right no-repeat;
}
.nav.side li.active a {
  color:#fff;
}

#serviceOverview #teaser-nav {
  margin-top:45px;
}

#serviceOverview p{
  font-family:'AVMMetaOT';
  color:#4d4d4d;
}
.teaser-block {
  padding-left:0;
}
#serviceOverview .moreLinks {
  margin-bottom:10px;
}
.additional-links ul {
  min-height:0;
}
.additional-links h3 {
  font-size: 24px;
}

#support .image-block, #support .content-centered {
  min-height:100%;
}
#support .image-block {
    overflow:hidden;
}
#support .img-responsive {
  max-width:none !important;
}

#serviceOverview footer {
  padding-top:40px;
}

#serviceOverview  #main-content .moreLinks {
  position:absolute;
  top:140px;
  left:auto;
  right:20px;
}
#serviceOverview  #main-content img {
  margin-top:10px;
}
#serviceOverview .description {
  margin-top:20px;
}
#serviceOverview  #main-content {
  position:relative;
}

.simple-list {
  list-style-type:none;
  padding-left:0;
}
.simple-list li {
  margin-bottom:20px;
}


#serviceOverview .white-panel  {
  margin-bottom:40px;
  float:left;
}
#serviceOverview #support {
  margin-top:50px;
}

#serviceOverview .grey-panel {
  margin-bottom:35px;
  float:left;
}
#serviceOverview  h3 {
  margin-top:0;
}
#serviceOverview  .grey-panel h4 {
  margin-bottom:20px;
}


#serviceOverview h1 {
  margin-bottom:35px;
  color:#4d4d4d;
  font-size:44px;
}
#serviceOverview .additional-links li {
  margin-bottom:10px;
}
#side-panel .grey-panel .moreLinks {
  margin-top:0;
}
#serviceOverview footer {
  padding-top:80px;
}
#serviceOverview .description {
  margin-bottom:40px;
}
#serviceOverview .grey-panel .blue-btn {
 margin-top: 10px;
 margin-bottom:20px;
}

#serviceOverview .grey-panel .blue-btn {
 margin-top: 10px;
 margin-bottom:20px;
}
#serviceOverview .additional-block {
  margin-bottom:20px;
}

#serviceOverview  h3 {
  font-size: 24px;
}

#serviceOverview  .input-group.searchbar.small {
  margin-bottom:20px;
}
#serviceOverview .additional-links ul {
  margin-top:0;
}
#serviceOverview .simple-list {
  line-height:1.2em;
}
#serviceOverview .additional-links {
  line-height:1.2em;
}
#serviceOverview .grey-panel p {
  margin-bottom:5px;
}


#serviceOverview #main-content .moreLinks {
  font-weight:500;
  font-family:'AVMMetaOT-Book';
  color: #006ab2;
}


/* ServicePage */
#service h1 {
  font-size: 44px;
  margin-top:0;
  letter-spacing:0;
  color:#4d4d4d;

}




/* Wissendatenbank Page */


.filter-header {
  padding: 5px 0 13px 15px;
  margin-bottom:10px;
}
.filter {
  width:180px;
}
.filter li{
  list-style: none;
}
.filter-trigger a {
  color:#fff;
  text-indent:20px;
  font-weight:500;
}
.filter-trigger:before {
  background-image: url("../../assets/img/detail/arrow.png") !important;
  display:block;
  position:absolute;
  top:0;
  right: -9px;
  content: "";
  height: 30px;
  width: 10px;
}
.filter-trigger {
  background: #0069bf; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #0070bc 41%, #0089c8 69%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(41%,#0069bf), color-stop(69%,#0089c8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #0070bc 41%,#0089c8 69%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #0070bc 41%,#0089c8 69%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #0070bc 41%,#0089c8 69%); /* IE10+ */
  background: linear-gradient(45deg,  #0070bc 41%,#0089c8 69%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0069bf', endColorstr='#0089c8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: #fff;
  overflow:visible !important;
  display:block;
  height:30px;
  width:auto;
  float:left;
  position:relative;
  width:180px;
  padding: 0;
  border-radius:3px;
  box-shadow: -1px 1px 3px #111;
}
.filter-trigger:hover {
  background: #0099e0; /* Old browsers */
  color: #fff;
  background: -moz-linear-gradient(-45deg,  #0099e0 0%, #0089c8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0099e0), color-stop(100%,#0089c8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #0099e0 0%,#0089c8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #0099e0 0%,#0089c8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #0099e0 0%,#0089c8 100%); /* IE10+ */
  background: linear-gradient(135deg,  #0099e0 0%,#0089c8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099e0', endColorstr='#0089c8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}





.filter-wrapper {
  position:relative;
  display:inline-block;
  width:180px;
  margin:0;
  margin-right:18px;
}
.filter-trigger {

}




.filter-trigger a {
  display:block;
  width:85%;
  height:30px;
  line-height:30px;
  white-space: normal;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.mobile .filter-trigger {
  height:36px;
}

.mobile .filter-trigger a {
  height:36px;
  line-height:36px;
}

.filter-data {
  position:absolute;
  top:31px;
  z-index:9999;
  background:#f5f5f5;
  overflow-y:scroll !important;
  overflow-x:hidden !important;
  height:auto;
  max-height:130px !important;
  box-shadow:1px 1px 2px #dedede;
}

.filter-data ul{
  padding: 10px 20px 10px;
}

.filter-data li {
  width:100%;
  height:auto;
  margin-bottom:10px;
}

.filter-data li a{
  display:block;
  width:100%;
  height:auto;
  text-indent:0;
}

.filter-trigger  span{
    position:absolute;
    right:20px;
    width:9px;
    height:4px;
    top:50%;
    margin-top:-2px;
    background: transparent url("../../assets/img/icons/open.png") no-repeat;
}

.filter-trigger.active span{
    background: transparent url("../../assets/img/icons/collapsed.png") no-repeat;
}

#search-content {
  border-top:9px solid #f8f8f8;
  border-bottom:9px solid #f8f8f8;
  margin-top:5px;
}

.mobile #search-content {
  letter-spacing:0;
}

#search-header {
  overflow:hidden;
}

.search-count {
  width:auto;
  float:left;
  font-size: 16px;
  margin-left: 15px;
  }
.search-nav {
  width:auto;
  float:right;
  margin-right:20px;
}
.mobile  .search-nav a {
  margin-left:14px;
  font-size: 16px;
}
.search-nav a {
  display:block;
  width:auto;
  float:left;
  margin-left:10px;
}

#search-content li {
  list-style-type:none;
}
#search-content ul {
  padding:0;
}
#search-content a {

  padding:13px 0;
  width:100%;
  height:100%;
  display:block;
  padding-left:35px;
  max-width:100%;
  box-sizing:border-box;
}
#search-content li:nth-child(odd)
{
  background-color:#fff;
}
#search-content li:nth-child(even) a
{
    padding:10px 0;
    padding-left:35px;
}
#search-content li:nth-child(even)
{
  background-color:#f8f8f8;
}
#search-content li {
  background: url("../../assets/img/detail/list-arrow.jpg") no-repeat 20px 17px;
}
#search-footer .search-count {
padding-top:5px;
}
.filter-trigger.not-active {

  pointer-events: none;
  cursor: default;
  box-shadow: 0 1px 2px #acacac;

  background: #dedede; /* Old browsers */
  background: -moz-linear-gradient(top,  #dedede 0%, #e3e3e3 100%, #dedede 100%, #207cca 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(100%,#e3e3e3), color-stop(100%,#dedede), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dedede 0%,#e3e3e3 100%,#dedede 100%,#207cca 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dedede 0%,#e3e3e3 100%,#dedede 100%,#207cca 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dedede 0%,#e3e3e3 100%,#dedede 100%,#207cca 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dedede 0%,#e3e3e3 100%,#dedede 100%,#207cca 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}

.filter-trigger.not-active:before {
  background-image: url("../../assets/img/detail/arrow-unactive.png") !important;
  right: -10px;
}
.filter-wrapper.last {
  margin-top:10px;
  margin-left:60px;
}
.filter-wrapper.last .filter-trigger:before {
  background-image: none;
  display:none;
  height:0;
  width:0;
}

.filtered-list {
  background: #fff url("../../assets/img/detail/list-arrow.jpg") no-repeat 20px 17px !important;
}
.filtered-list-colored {
  background: #f8f8f8 url("../../assets/img/detail/list-arrow.jpg") no-repeat 20px 17px !important;
}


#wissensdatenbank h1 {
  font-family: 'AVMMetaOT-CondBlack';
  font-weight:normal;
  font-size:44px;
  color:#4d4d4d;
}
#wissensdatenbank #support {
  margin-top:60px;
}

#wissensdatenbank footer {
  padding-top: 80px;
}

#wissensdatenbank h1 {
  margin-bottom:35px;
}

#wissensdatenbank h2.page-title {
  margin-top:0 !important;
  margin-bottom:15px;
}

/*
// Lightbox
*/


#lightbox-overlay {
  position: fixed;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.7);
  width:100%;
  height:100%;
  
  z-index: 1000;

  opacity:0;
  display: block;
}

#lightbox-dialog {


  position:absolute;
  top:200px;

  left:0;
  width:100%;
  max-width: 100%;

  box-shadow:0px, 7px, 25px, 0.05;
  
  z-index: 9999;

  visibility: hidden;
  display:block;

}
#lightbox-dialog .overlay-data{
  position:relative;
  max-height:none;
  height:100%;
  display:block;
  margin:0 auto;
  width:94%;
}
#lightbox-dialog  .filter-data {
  max-height:none;
  overflow-y:visible !important;
  height:auto;
  max-height:none !important;
}
#lightbox-dialog  .filter-data ul {
  padding-bottom:0;
  margin-bottom:0;
}

#lightbox-dialog .filter-data li {
  margin-bottom:0;
}

#lightbox-dialog  .filter-data li a {
  width:100%;
  text-indent:0;
  padding:15px 0;
  display:block;
  border-bottom:1px solid #dadada;
}
#lightbox-dialog  .filter-data li:last-child a{
  border-bottom:none;
}


 #header-nav li {
  box-sizing:border-box;
 }

 #header-nav li a {
  box-sizing:border-box;
  -mox-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;

  padding:12px 20px 20px;
   margin:0;
 }


.navbar-brand {
  position:relative;
  display:block;
  float:left;
  width:78px;
  height:60px;
}
.navbar-nav {
  position:relative;
  float:left;
  margin-left:0;
  padding-left:0;
}
#teaser-nav a {
  color: black !important;
}

.header-open {
    margin-top: 0;
    box-shadow:1px 1px 2px rgba(0, 0,0, 0.15);
    background: #f5f5f5 !important;
}


/*
 * MEDIA QUERIES
 * --------------------------------------------------
 */
 @media screen and (max-width: 1010px) {
   footer .socials {
       text-align: center;
       margin: 0 auto;
       width: 100%;
       float:right;
  }
  #serviceOverview #main-content .moreLinks {
     left:300px;
   }

   footer .col-md-1, footer .col-md-8 {
    width:100%;
   }

   footer {
     text-align:center;
   }
   .dropdown {
    float:none;
    display:block;
   }
    footer  .navbar-nav {
    float:none;
    display:block;
    width:100%;

   }
   footer .dropdown.open {
    width:100%;
   }
   footer .navbar-nav > li {
    float:none;
   }

   footer .navbar-nav .open .dropdown-menu {
     position: static !important;
     float: none;
     width: auto;
     margin-top: 0;
     background-color: transparent;
     border: 0;
     box-shadow: none;
     background: #fff;
     box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
   }
   footer .navbar-nav.loc .dropdown-toggle {
     text-align:center;
   }
   footer .navbar-nav .open .dropdown-menu > li > a,
   footer .navbar-nav .open .dropdown-menu .dropdown-header {
     padding: 5px 15px 5px 25px;
   }
   footer  .navbar-nav .open .dropdown-menu > li > a {
     line-height: 20px;
   }
   footer .navbar-nav .open .dropdown-menu > li > a:hover,
   footer .navbar-nav .open .dropdown-menu > li > a:focus {
     background-image: none;
   }
   footer .dropdown-menu li {
    text-align:left;
   }
   footer .footer-brand {
   display: block;
   padding: 0 0 10px;
   text-align: center;
 }

 footer .navbar-nav {
  margin:0;
 }

 footer .nav.loc {
  margin:0;
 }


   #footer-nav p {
    font-size: 14px;
    line-height:1.5em;
   }

 }

 @media screen and (max-width: 1050px) {

 .filter-header h4, .grey-panel{
    width:100%;
    margin-bottom:20px;
 }

 .filter-wrapper.last {
   margin-left:0;
 }


}



 /*
  * Off Canvas 1023
  * --------------------------------------------------
  */

 @media screen and (max-width: 1023px) {

   .press.carousel .thumbnails li {
     width:25%;
   }

   .press.press-sm.carousel .item ul li {
     width: 40%;
     float: none;
   }




 }

 /*
  * Off Canvas 992
  * --------------------------------------------------
  */

 @media screen and (max-width: 992px) {



 .press.carousel .item {
     height: 195px !important;
     overflow: hidden;
 }

 .press-sm.carousel .item {
     height: 100px !important;
     overflow: hidden;
 }

   .start .col-sm-6 {
     min-height: 416px;
   }

 .start .col-xs-6 {
     min-height: 390px;
 }



 .carousel-caption h2 {
   font-weight: normal;
   padding-left: 13px;
   margin: 15px 0 0 0;
 }

 .carousel-caption h1 {
   font-weight: normal;
   padding-left: 0;
   margin: 0;
   font-size: 34px;
 }

 .services .liste1 {
   background: url('../../assets/img/service/service-thumb1.jpg') right 15px no-repeat;
   margin-right: 30px;
 }

 .services .liste2 {
   background: url('../../assets/img/service/service-thumb2.jpg') right 15px no-repeat;
   margin-right: 60px;
 }

 .services .liste3 {
   background: url('../../assets/img/service/service-thumb3.jpg') right 15px no-repeat;
   margin-right: 50px;
 }

 .services .liste4 {
   background: url('../../assets/img/service/service-thumb4.jpg') right 15px no-repeat;
   margin-right: 50px;
 }

 .services .liste5 {
   background: url('../../assets/img/service/service-thumb5.jpg') right 15px no-repeat;
   margin-right: 50px;
 }

 .services .liste6 {
   background: url('../../assets/img/service/service-thumb6.jpg') right 15px no-repeat;
   margin-right: 50px;
 }

 .more h3 {
     display: block;
     width:100%;
     }

  #more-products {
    padding-top:30px;
  }

 .navbar-collapse.in .navbar-nav > li > a {
   font-size: 20px;
   border-radius: 0 0 0 0;
   width:100%;
   display:block;
 }

 .navbar-collapse.in .navbar-nav > li > a:hover {
   border-radius: 0 0 0 0;  
 }

 .navbar-collapse .navbar-nav > li > a {
     /*font-size: 13px;*/
 }

 .teaser p { min-height: 60px; }

 h3.even {
   min-height: 10px;
 }

 p.even {
   min-height: 60px;
 }

 .carousel .item {
   /*height: 270px;*/
 }

 .sidebar-nav .nav {
     border-top: 10px solid #F3F3F3;
     padding-right: 20px;
 }

 .sections .col-lg-3.second {
   border: none;
 }

   .row-offcanvas-right
   .sidebar-offcanvas {
     /*right: -50%; /* 6 columns */
   }

   .row-offcanvas-left
   .sidebar-offcanvas {
     /*left: -50%; /* 6 columns */
   }

   .row-offcanvas-right.active {
     /*right: 50%; /* 6 columns */
   }

   .row-offcanvas-left.active {
     /*left: 50%; /* 6 columns */
   }

   .sidebar-offcanvas {
     /*position: absolute;
     top: 0;
     width: 50%; /* 6 columns */
   }

   .row.start img {
     width: 100%;
   }



   footer p.text-center {
     /*text-align: left;*/
     padding: 10px;
   }

   footer .col-6 {
     padding-left: 0;
   }

   footer .footer-brand {
     display: block;
     padding: 0 0 10px;
     text-align: center;
   }

   .flyout .dropdown-menu {
     width:800px;
     max-width:800px;
    }

    /* Wissendatenbank  Filters*/
    .col-sm-9  .filter-header {
      padding: 13px 0 13px 1.9624%;
   }

    .col-sm-9 .filter-wrapper {
       margin-right:1.9624%;
       width: 30.7167%; 
    }
    .col-sm-9 .filter-trigger {
     width: 100%; 
    }
    .col-sm-9 .filter-data {
      width: 100%; 
    }
    .filter a {
      text-indent:10px;
    }
    .filter-data ul {
      padding: 5px 20px 10px 10px;
    }

    #side-nav.col-sm-3 {
      overflow:hidden;
    }


    #side-nav li{
      width:162px;
    }
    #side-nav li.active{
      width:172px;
    }
    #product-overview #sub-nav p {
      padding-right:0;
    }
    
     
 }

 @media screen and (max-width: 991px) {
   .product-item:nth-child(odd) {
       clear:left;
     }
       #serviceOverview #teasers .col-sm-9{
       float: right !important;
     }
     .nav.loc {
       display:block;
       width:100%;
       text-align:center;
       padding:0 20px;
       box-sizing: border-box;
       margin-left:0;
     }

     .navbar-nav.loc p{
       padding:0 20px;
     }

     footer .dropdown {
       float:none;
       
     }

     footer .dropdown-menu {
     top: auto;
     bottom: 0;
     z-index: 2;
     padding-bottom: 45px;
     text-align:left;
     }

     #footer-nav a, #footer-nav p {
       font-size:14px;
     }

     #footer-nav p {
      line-height:1.5em;
     }

.additional-block {
     background-color: #f5f5f5;
     padding: 10px 20px;

    }
.additional-block .blue-btn{
     margin-top:10px;
     margin-bottom:10px;
}
#service .collapseDiv ul.last {
 padding-top:0;
}

#product-overview .whiteBox {
  min-height:267px;
}
#product-overview .icon-360 {
  top:0;
}

#service .dropdown-flayout-wrapper-small {
  width:722px !important;
}
#service .product-item.first {
  clear:none !important;
}
#service .whiteBox.first {
  margin-bottom:20px !important;
}



 }


 /*
  * Off Canvas 780
  * --------------------------------------------------
  */


 @media screen and (max-width: 780px) {



 .product-item:nth-child(odd) {
   clear:left;
 }
 .prodInfo p, .prodInfo h4 {
   min-width: 100%;
   width: 100%;
   float: left;
   display: block;
 }


   #features-list {
    padding-top: 40px;
     float:left;
     margin:0 auto;
     text-align:center;
     width:100%;

   }

   #featured-description {
     width:100%;
   }

 }
 /*
  * Off Canvas 768
  * --------------------------------------------------
  */

 @media screen and (max-width: 992px) and (min-width: 768px)  {
   .navbar-nav > li > a {
     font-size: 15px;  
   }
   .navbar-brand {
     margin-right: 0;
   }


 }

 @media (min-width: 768px) {
   #side-panel {
     float:right !important;
   }



 }



 /*
  * Off Canvas 767
  * --------------------------------------------------
  */

 @media screen and (max-width: 767px) {


  .no-js .navbar .container {
    float:left;
    margin-bottom:20px;
    background: #0080c3;
  }

  .no-js .nav.navbar-nav {
    width:100%;
  }
  .container {
    position:relative;
    z-index:1;
    overflow:visible;
    width:100%;
    max-width:100% !important;
    box-sizing:border-box;
    overflow:visible;
  }

  .navbar-collapse {
    position:absolute;
    top:0;
    right:-80%;
    z-index:9999;
    background:#0080c3;
    width:80%;
    overflow:hidden;
    z-index:9999;
    height:100%;
    overflow:hidden;
    max-height:none;
    min-height:6000px;
  }
  .navbar-collapse.in  .input-group.search {
    margin-right:10%;
  }
  .navbar-collapse.in li{
    margin-right:10%;
  }
  .navbar-collapse.in li.searchbar {
    margin-right:0;
  }
  .navbar-nav > li.mobile-nav {
    display:block;
  }
  .navbar-nav > li.web-nav {
    display:none;
  }



 .row-offcanvas #sidebar .nav {
    display:none;
  }
  .row-offcanvas #sidebar .sidebar-nav {
    padding-right:20px;
  }
  .row-offcanvas #sidebar .nav.news {
     display:block;
     padding-right:20px;
   }

   .news a {
     display:block;
     width:65%;
     float:left;
   }

   .news span {
     display:block;
     width:10%;
     float:left;
     min-width:100px;
   }

   .news p {
    width:100%;
    display:block;
    float:left;
   }

   .navbar .container { position: relative; }

   .navbar-right {
     position: absolute;
     top: 12px;
     right: 60px;
   }

   .navbar-nav.loc > li > a {
     padding-bottom: 25px;
   }

   .navbar-nav.loc .dropdown-menu {
     background: #fff;
     box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
   }

   .navbar-right .input-group.search { display: none; }

   .navbar-nav.loc {
     margin: 0;
 }    

  

   .navbar-nav.loc .open .dropdown-menu > li > a {
     color: #404040;
 }

   .navbar-nav.loc .open .dropdown-menu > li > a:hover,
   .navbar-nav.loc .open .dropdown-menu > li > a:focus {
     color: #006ab2;
     background-color: transparent;
   }

   .navbar-nav.loc .open .dropdown-menu > .active > a, 
   .navbar-nav.loc .open .dropdown-menu > .active > a:hover, 
   .navbar-nav.loc .open .dropdown-menu > .active > a:focus {
     background-color: transparent;
     color: #006ab2;
 }

 .press.carousel .item {
     height: 184px !important;
     overflow: hidden;
 }

  #side-nav {
   overflow:hidden;
  }
 .nav.side  {
   overflow:hidden;
   position:relative;
   float:left;
   width:100%;
   margin:0;
   margin-bottom:20px;
  }
   .nav.side li , .nav.side li.active {
     width:100%;
     padding:0;


     background: #0070bc;
     background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjMDA3MGJjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwODljOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
     background: -moz-linear-gradient(-45deg,  #0070bc 2%, #0089c8 100%);
     background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,#0070bc), color-stop(100%,#0089c8));
     background: -webkit-linear-gradient(-45deg,  #0070bc 2%,#0089c8 100%);
     background: -o-linear-gradient(-45deg,  #0070bc 2%,#0089c8 100%);
     background: -ms-linear-gradient(-45deg,  #0070bc 2%,#0089c8 100%);
     background: linear-gradient(135deg,  #0070bc 2%,#0089c8 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070bc', endColorstr='#0089c8',GradientType=1 );

     display:block;
   }
   .nav.side{
     display:none;
   }

  #mobile-side-nav {
    display:block;
    margin-bottom:30px;
  }


  .search-header {
    margin-top:20px;
  }


   #serviceOverview #main-content .moreLinks {
    position:relative;
    top:0;
    left:0;
    margin-bottom:40px;

   }
   #serviceOverview #main-content .description {
    margin-bottom:15px;
   }
  #serviceOverview #main-content,   #serviceOverview #side-panel {
    padding-right:20px !important;
  }

  #serviceOverview #side-panel {
    float:left important;
  }
  #product-overview #sub-nav a{
  padding-left:5px;
  padding-right:5px;
  }
  #product-overview #sub-nav p{
    float:left;
    padding-right:0;
  }

  #product-overview .whiteBox {
    min-height:0 !important;
    margin-bottom:10px !important;
    height:auto;
  }
  #product-overview .whiteBox p{
    height:50px;
  }
  #product-overview .whiteBox a{
   margin-bottom:30px !important;
  }


  #service .dropdown-flayout-wrapper-small {
    width:520px !important;
  }




 }





 /*
  * Off Canvas 760
  * --------------------------------------------------
  */

 @media screen and (max-width: 760px) {

   .product-box {
     position:relative;
    float:left;
   }

   .product-box:nth-child(even) {
     clear:left;
   }

  .img-container, .teaser {
   max-width:100% !important;
 }

  .press.carousel .thumbnails li {
    width:33.3333%;
  }
 }


 /*
  * Off Canvas 600
  * --------------------------------------------------
  */

 @media screen and (max-width: 600px) {

     #buy-button {
       padding-top: 0;
     }

     .item-description, .item-image {
       width:100%; 
       display:inline-block;
     }

     .item-image img {
       margin:0 auto;
       float:none;
     }

     .product-item-collection {
       padding:0 5%;
     }

     #service-teaser, #service-list {
       width:100%;
     }

     #product-overview #header.col-xs-6{ 
       width:100%;
     }

    #product-overview  #sub-nav{
       width:70% !important;
       float:left;
       text-align:left;
       padding-top:5px;
   }

    #buy-button.col-xs-12 {
     width:20% !important;
     float:right;
     text-align:right;
   }

   #sub-nav p {
     text-align:left;
   }
  .teaser-block.col-xs-4{
    width:100% !important;
    padding:0;
  }

  .additional-links .col-xs-4,   .additional-links .col-xs-8{
    width:100%;
  }
  #support .image-block, #support .content-centered {
    width:100%;
    height:100px;
    float:left;
    min-height:0;
    overflow:hidden;
    position:relative;
    clear:right;
  }
  #support .image-block .img-responsive {
    min-width:100%;
    height:auto;
  }
  #support {
    height:200px;
  }
  #product-overview .top-nav #buy-button {
    padding-top:0;
  }

  #service .dropdown-flayout-wrapper-small {
    width:500px !important;
  }


 #service .dropdown-flayout-wrapper-small {
  margin-left:-5px;
 }


 }
    /* Wissendatenbank  Filters*/
    @media screen and (max-width: 670px) {

    .col-sm-9 .filter-header {
      padding:13px 20px;
    }

   .col-sm-9 .filter-wrapper {
      margin-right:0;
      width:100%;
      position:relative;
       overflow:hidden;
      padding-bottom:2px;
   }

   .col-sm-9 .filter-wrapper.last {
      margin-top:0;
   }
   .col-sm-9 .filter-trigger {
    width:100%;
   }
   .col-sm-9 .filter-data {
    width:100%;
    position:relative;
    top:20px;
    z-index:1;
    overflow-y:visible !important;
    height:auto;
    max-height:none !important;
   }
   .filter-data ul {
     padding: 5px 20px 20px 20px;
     position:relative;
     overflow:hidden;
   }
 }
 /*
  * Off Canvas 520
  * --------------------------------------------------
  */

 @media screen and (max-width: 520px) {

   #products .col-xs-12,   #products .col-sm-6,   #products .col-md-4,   #products .col-lg-4{
     width:100% !important;
     float:left;
    }
    .press.carousel .thumbnails li {
      width:50%;
    }

    #prodInfo .col-xs-6 {
     width:100%;
    }
    #prodInfo .col-xs-6 img{
     margin:0 auto;
    }

    .img-container {
       overflow:hidden;
       width:100%;
       text-align:center;
    }

    .img-container img{
       width:auto;
       margin:0 auto;
       position:relative !important;
    }

    #product-overview .paragraph-section {
      margin-bottom:0 !important;
    }
/*    #service .dropdown-flayout-wrapper-small div {
      width:300 !important;
      float:left;
    }*/



 }

 /*
  * Off Canvas 480
  * --------------------------------------------------
  */

 @media screen and (max-width: 480px) {

 div.searchbar h4 {
   display: none;
 }
 .install-button {
  display:block;
  text-align:center;
 }
 .carousel .item {
  height:250px !important;
 }

 div.searchbar .input-group {
   display: block;
 }

 div.searchbar .input-group-btn .btn-search, .blue-btn{
   padding: 4px 10px;
 }

 div.searchbar .input-group-btn {
   display: none;
   border-left: 10px solid #f8f8f8;
 }

 div.searchbar .form-control {
   background: url("../../assets/img/icons/icon-search-grey.gif") no-repeat scroll right 5px #FFFFFF;
   width: 100%;
 }

 div.searchbar .input-group .form-control:last-child, 
 div.searchbar .input-group-btn:last-child > .btn, 
 div.searchbar .input-group-btn:first-child > .btn:not(:first-child) {
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
 }

 .press.carousel .item {
     height: 184px !important;
     overflow: hidden;
 }
 .press-sm.carousel .item {
     height: 100px !important;
     overflow: hidden;
 }



 h3.even {
   min-height: 10px;
 }

 p.even {
   min-height: 10px;
 }

 .more h3 {
     display: block;
     float:none;
     width:auto;
 }


 .services .liste1 {
   background: url('../../assets/img/service/service-thumb1.jpg') 0px 15px no-repeat;
   margin-right: 0px;

 }

 .services .liste2 {
   background: url('../../assets/img/service/service-thumb2.jpg') right 15px no-repeat;
   margin-right: 0px;
 }

 .services .liste3 {
   background: url('../../assets/img/service/service-thumb3.jpg') right 15px no-repeat;
   margin-right: 0px;
 }

 .services .liste4 {
   background: url('../../assets/img/service/service-thumb4.jpg') right 15px no-repeat;
   margin-right: 0px;
 }

 .services .liste5 {
   background: url('../../assets/img/service/service-thumb5.jpg') right 15px no-repeat;
   margin-right: 0px;
 }

 .services .liste6 {
   background: url('../../assets/img/service/service-thumb6.jpg') right 15px no-repeat;
   margin-right: 0px;
 }

 .carousel-caption h2 {
   font-weight: normal;
   padding-left: 5px;
   margin: 15px 0 0 0;
   font-size: 14px;
 }

 .carousel-caption h1 {
   font-weight: normal;
   padding-left: 0;
   margin: 0;
   font-size: 20px;
 }



 .service-description .col-xs-4 {
    width:100%;
    text-align:center;
 }
 .service-description .col-xs-4 img {
  display:inline-block;
  margin-bottom:40px;
 }
 .service-description .col-xs-8 {
    width:100%;
 }

 .input-group.searchbar.small {
    width:100%;
 }
 #service .dropdown-flayout-wrapper-small {
   width:280px !important;
 }
 #service .dropdown-flayout-wrapper-small div.col-sm-6{
   width:100%;
 }

 #service .dropdown-flayout-wrapper-small ul{
  padding-top:0;
  padding-bottom:0;
 }
 #service .dropdown-flayout-wrapper-small ul.last{
  padding-bottom:20px;
 }
 #service .dropdown-flayout-wrapper-small ul.first{
  margin-top:0;
  padding-top:20px;
 }
 }



 /*
  * Off Canvas 450
  * --------------------------------------------------
  */

 @media screen and (max-width: 450px) {

    #product-overview  #sub-nav.col-xs-6 { 
     width:85% !important;
     float:left;
     text-align:center;
   }

   #product-overview #buy-button.col-xs-12 {
     width:15% !important;
   }

   a.icon-buy.top {
     width:26px !important;
     height:26px !important;
     background: #fff url('../../assets/img/icons/einkaufswagen.png') 0 0 no-repeat !important;
     display:block;
     float:left;
   }

   a:hover.icon-buy.top {
     background-image: url('../../assets/img/icons/einkaufswagen.png');
     background-position: 0 -26px;
   }

   .press.carousel .thumbnails li , .press.press-sm.carousel .item ul li {
     width:100%;
   }

   .wrapper-center {
     width:80%;
     overflow:hidden;
     margin:0 auto;
   }

   .product-item {
     width:100%;
     float:left;
   }

   .item-description, .item-image {
     max-width:100%;
     margin:0 auto;
     width:100%;
   }

   #service .item-description h3 {
     margin-top: 10px;
   }

   #service .product-item {
     margin-bottom: 20px;
   }

   #service .item-image {
       min-height:0 !important;
   }

  .item-image img {
     margin:0 auto;
     text-align:center;
     width:auto;

   }
   .product-item-collection {
     padding:0;
   }

 }

 /*
  * NO JAVASCRIPT
  * --------------------------------------------------
  */
  .no-js .navbar .container {
    overflow:hidden;
  }

 .no-js .navbar-collapse{
  left:0;
  display:block;
  position:relative;
  height:auto;
  width:100%;
  margin-bottom:0;
  min-height:0 !important;
 }

  .no-js .navbar-toggle {
    display:none !important;
  }

 .no-js .carousel-indicators {
  display:none !important;
 }
 .no-js .carousel-control {
  display:none !important;
 }

 .no-js #collapseNav {
  display:block;
 }

 .no-js  [data-toggle="collapse"] span {
  display:none;
 }


 .no-js  .navbar-collapse.collapse .navbar-nav > li > a {
  display:block !important;
  float:left;
  width:100%;
  padding-left:10px;
 }


 /*
  * Mobile Design Optimization
  * --------------------------------------------------
  */
.mobile .teaser-nav-holder, .tablet .teaser-nav-holder {
  margin-right:-15px !important;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.mobile .teaser-nav .mobile-last, .tablet .teaser-nav .mobile-last {
  border-right:none !important;
}

.mobile #serviceOverview .row .row {
 max-width:100% !important;
}

.mobile #serviceOverview  input {
  line-height:30px !important;
}

.mobile #wissensdatenbank #header-nav , .mobile #home #header-nav, .tablet #wissensdatenbank #header-nav , .tablet #home #header-nav{
  display:none;
}
.mobile #wissensdatenbank #header-nav, .tablet #wissensdatenbank #header-nav  {
  display:none;
}

.mobile #service .dropdown-flayout-wrapper-small .collapseDiv {
  overflow:auto;
  height:300px !important;

  max-height:300px !important;

}
.mobile .navbar-header , .tablet .navbar-header{
  overflow:hidden;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

}
.tablet .item-image {
  padding-left:15px;
}
